In [ ]:
#Tuple
#imutable
#ordered
#duplicate
#indexed
#updatae ra delete garna kahilai mildaina
#constant rakhna use hunxa

In [1]:
tuple=("Apple","Ball","Cat")
print(tuple)

('Apple', 'Ball', 'Cat')

In [2]:
tuple=("Apple","Ball","Cat")
print(len(tuple))

3

In [5]:
#diff between tuple and str
tuple=("Apple","Ball","Cat")
print(type(tuple))
tuple=("Apple")
print(type(tuple))

<class 'tuple'>
<class 'str'>

In [6]:
#str,boolen,int
string=("apple","ball","cat")
boolen=(True,False)
integer=(1,2,5,6)
print(string,boolen,integer)

('apple', 'ball', 'cat') (True, False) (1, 2, 5, 6)

In [7]:
#tuple with diff datatype
tuple=("Ram",20,"male","Student")
print(tuple)

('Ram', 20, 'male', 'Student')

In [24]:
a=(("Ram"),("Shyam"))
print(a)

('Ram', 'Shyam')

In [13]:
#print first element
a=("Apple","Ball","Cat")
print(a[0])

Apple

In [14]:
#print last element
tuple=("Apple","Ball","Cat")
print(tuple[-1])

Cat

In [15]:
#print upto 4th element
tuple=("Apple","Ball","Cat","dog","egg")
print(tuple[:4])

('Apple', 'Ball', 'Cat', 'dog')

In [16]:
#check whether it exists or not
a=("Apple","Ball","Cat")
if "Apple" in a:
    print("Yes,Apple is in tuple",a.count("Apple"))
else:
    print("No")

Yes,Apple is in tuple 1

In [1]:
check = ("apple", "banana", "cherry")
if "apple" in check:
    print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

In [3]:
a=()
b=tuple()
print(a)
print(b)

()
()

In [5]:
a=(0,1,2,3,4)
a[3]

3

In [6]:
a=(1,2,3)
b=(4,5,6)
print(a+b)

(1, 2, 3, 4, 5, 6)

In [7]:
#duplicate
a=(1,2,3,1,2,3)
print(a)

(1, 2, 3, 1, 2, 3)

In [12]:
s=()
n=int(input("enter number="))
for i in range(n):
    x=int(input("enter no."))
    s=s+(x,)
print("the numbers are",s)
print("the max.number are",max(s))
print("the min.num are",min(s))

enter number=3
enter no.50
enter no.0
enter no.80
the numbers are (50, 0, 80)
the max.number are 80
the min.num are 0

In [14]:
a=("apple","ball","cat")
n=len(a)
for i in range(n):
    print(a[i])

apple
ball
cat

In [17]:
a=("Apple","Ball","Cat")
if "Apple" in a:
    print("Yes,Apple is in tuple",a.count("Apple"))
else:
    print("No")

Yes,Apple is in tuple 1

In [ ]:
#functions of tuple
# max,min,sum,index,sorted
#list tuple ma change garna milxa,tuple pani listma change hunxa

In [19]:
a=("apple","ball","cat","bus")
print(sorted(a))
a

['apple', 'ball', 'bus', 'cat']

('apple', 'ball', 'cat', 'bus')

In [4]:
a=(('1','2','3'),('4','5','6'),('7','8','9'))
b=list(a)
b

[('1', '2', '3'), ('4', '5', '6'), ('7', '8', '9')]

In [6]:
#list inside tuple
a=([1,2,3],[4,5,6])
a[0].append(4)
a

([1, 2, 3, 4], [4, 5, 6])

In [ ]:
#tuple inside list
#list inside tuple