In [2]:
a={'a': 'apple', 'b': 'ball', 'c': 'cat'}
print("first condition",a)
a['A']=a.pop('a')
print("final condition", (a))

first condition {'a': 'apple', 'b': 'ball', 'c': 'cat'}
final condition {'b': 'ball', 'c': 'cat', 'A': 'apple'}

In [6]:
#dict inside dict
a={"ram":{"ntc":66666,"ncell":959454},
  "shyam":{"ntc":69944,"ncell":88888}}
print(a)

{'ram': {'ntc': 66666, 'ncell': 959454}, 'shyam': {'ntc': 69944, 'ncell': 88888}}

In [7]:
for i in a.values():
    print(i)

{'ntc': 66666, 'ncell': 959454}
{'ntc': 69944, 'ncell': 88888}

In [9]:
for i in a.items():
    print(i)

('ram', {'ntc': 66666, 'ncell': 959454})
('shyam', {'ntc': 69944, 'ncell': 88888})

In [12]:
a["hari"]={"ntc":9999,"ncell":8888}
print(a)

{'ram': {'ntc': 66666, 'ncell': 959454}, 'shyam': {'ntc': 69944, 'ncell': 88888}, 'hari': {'ntc': 9999, 'ncell': 8888}}

In [3]:
a={'ram': {'ntc': 66666, 'ncell': 959454}, 'shyam': {'ntc': 69944, 'ncell': 88888}, 'hari': {'ntc': 9999, 'ncell': 8888}}
a["hari"]["ntc"]=7777
a

{'ram': {'ntc': 66666, 'ncell': 959454},
 'shyam': {'ntc': 69944, 'ncell': 88888},
 'hari': {'ntc': 7777, 'ncell': 8888}}

In [5]:
a={("ram","Ant"):"A"}
print(a)

{('ram', 'Ant'): 'A'}

In [6]:
#it doesn't support in list
a={["ram","Ant"]:"A"}
print(a)

TypeError: unhashable type: 'list'

In [ ]:
# set

In [7]:
a={1,2,3}
print(type(a))

<class 'set'>

In [8]:
a={1,2,3}
a

{1, 2, 3}

In [ ]:
# mutable
# unordered
# no indexing
# no duplicate values
#update,add
#set inside set kahilai hudaina
#set vitra list hudaina but tuple linxa

In [11]:
# update
a={1,2,3}
b={2,4,5,6}
a.update(b)
a

{1, 2, 3, 4, 5, 6}

In [12]:
a={1,2,3}
a.add(4)
a

{1, 2, 3, 4}

In [15]:
s=set()
n=int(input("enter num="))
for i in range(n):
    x=int(input("enter x="))
    s.add(x)
print(s)

enter num=2
enter x=1
enter x=6
{1, 6}

In [16]:
a={"ram","shyam","hari","gita"}
b={"sita","rita","ram","shyam"}
a.union(b)

{'gita', 'hari', 'ram', 'rita', 'shyam', 'sita'}

In [17]:
a.intersection(b)

{'ram', 'shyam'}

In [18]:
a.difference(b)

{'gita', 'hari'}

In [19]:
b.difference(a)

{'rita', 'sita'}

In [20]:
a={"ram","shyam","hari","gita"}
b={"sita","rita","ram","shyam"}
c={"hh"}
a.intersection(b,c)

set()

In [23]:
a={"ram","shyam","hari","gita"}
b={"ram","shyam"}
a.issuperset(b)

True

In [25]:
a={"ram","shyam","hari","gita"}
b={"ram","shyam"}
b.issubset(a)

True

In [29]:
#set inside list
a=[{1,2,3},{4,5,6}]
del a[0]
a

[{4, 5, 6}]