In [2]:
#to calculate interest
p=100
t=2
r=10
i=p*t*r/100
print(i)

20.0

In [6]:
#Calculate interest
p=int(input("enter p= "))
t=int(input("enter t= "))
r=int(input("enter r= "))
i= p*t*r/100
print("the interest is",i)

enter p= 500
enter t= 100
enter r= 10
the interest is 5000.0

In [4]:
#to calculate interest acc. to user
p=int(input("enter p ="))
t=int(input("enter t ="))
r=int(input("enter r ="))
i=p*t*r/100
print("the interest is", i)

enter p =100
enter t =2
enter r =10
the interest is 20.0

In [7]:
#check datatype
a=100
print(type(a))

<class 'int'>

In [7]:
#check datatype
a=50
print(type(a))

<class 'int'>

In [1]:
#string * int
a="hello world"
b=2
a*b

'hello worldhello world'

In [17]:
#print string datatype more times
a="hello world"
b=5
print(b*a),\n

SyntaxError: unexpected character after line continuation character (<ipython-input-17-476e797f88a1>, line 4)

In [2]:
#string
name=input("enter your name =")
age= int(input("enter your age ="))
add=input("enter your address= ")
info="hello my name is "+name+ "i am from" +add+ "i am "+ str(age)+ "years old"
print(info)

enter your name =ram
enter your age =20
enter your address= ktm
hello my name is rami am fromktmi am 20years old

In [ ]:
#string
n=(input("enter your name="))
a=(input("enter your address="))
age=int(input("enter your age"))
info="my name is" +n+" " "i live in"+a+ " ""i am" +str(age)+ "years old"
print(info)

enter your name=ram