In [2]:
#use of dictionary
mydi={
    "name":"Jumanu",
    "age":21,
    "phone":9865454545
}
a=mydi["phone"]
a

9865454545

In [1]:
# use of dictionary
mydi={
    "name":"Jumanu",
    "age":21,
    "phone":9865454545
}
print(mydi)

{'name': 'Jumanu', 'age': 21, 'phone': 9865454545}

In [10]:
mydict={
    "name":"Jumanu",
    "address":"Bhaktapur",
    "age":21
}
print(mydict)

{'name': 'Jumanu', 'address': 'Bhaktapur', 'age': 21}

In [24]:
#use of dictionary 
mydi={}
# print(mydi)
mydi[0]:"name"
mydi[1]:"Address"
print(mydi)

{}

In [ ]:
#dictionary
#index and key are same
#syntax:-dict={<key:<value>,<key>:<value>,<key>:<value>}
#slicing hudaina(1:3)
# Mutable
# indexed
# ordered
# duplicate

In [25]:
a={}
for i in range(2):
    name=(input("enter name="))
    phone=(input("enter phone="))
    a[name]=phone
print(a)

enter name=hari
enter phone100225
enter name=shyam
enter phone662644
{'hari': '100225', 'shyam': '662644'}

In [26]:
#update
a={"a":"apple","b":"ball"}
d={"c":"cat"}
a.update(d)
a

{'a': 'apple', 'b': 'ball', 'c': 'cat'}

In [27]:
for i in a:
    print(a)

{'a': 'apple', 'b': 'ball', 'c': 'cat'}
{'a': 'apple', 'b': 'ball', 'c': 'cat'}
{'a': 'apple', 'b': 'ball', 'c': 'cat'}

In [28]:
#for index only
for i in a:
    print(i)

a
b
c

In [29]:
#for values only
for i in a.values():
    print(i)

apple
ball
cat

In [30]:
#for both index and values
for i in a.items():
    print(i)

('a', 'apple')
('b', 'ball')
('c', 'cat')

In [31]:
a.clear()
a

{}

In [33]:
a={'a': 'apple', 'b': 'ball', 'c': 'cat'}
del a['a']
a

{'b': 'ball', 'c': 'cat'}

In [35]:
a={}
for i in range(2):
    name=(input("enter name="))
    ncell_phone=(input("enter ncell num="))
    ntc_phone=(input("enter ntc num="))
    a[name]=[ncell_phone,ntc_phone]
print(a)

enter name=ram
enter ncell num=778788
enter ntc num=5555
enter name=shyam
enter ncell num=55555
enter ntc num=5666'
{'ram': ['778788', '5555'], 'shyam': ['55555', "5666'"]}

In [36]:
name=(input("enter name"))
print(a[name])

enter nameram
['778788', '5555']

In [37]:
#del index
a={'ram': ['778788', '5555'], 'shyam': ['55555', "5666'"]}
del a["ram"][0]
a

{'ram': ['5555'], 'shyam': ['55555', "5666'"]}

In [38]:
#append
a={'ram': ['778788', '5555'], 'shyam': ['55555', "5666'"]}
a["ram"].append(66666)
a

{'ram': ['778788', '5555', 66666], 'shyam': ['55555', "5666'"]}

In [47]:
#dict inside list
a=[{'ram':778788}, {'shyam': 555666}]
a

[{'ram': 778788}, {'shyam': 555666}]

In [49]:
a=[{'ram':778788}, {'shyam': 555666}]
a[0]

{'ram': 778788}

In [51]:
#dict inside list
x=[]
a=int(input("enter number="))
for i in range (a):
    name=(input("enter name="))
    phone=(input("enter phone="))
    b={name:phone}
    x.append(b)
print(x)

enter number=2
enter name=ram
enter phone=99889
enter name=shyam
enter phone=5656996
[{'ram': '99889'}, {'shyam': '5656996'}]

In [ ]:
#assignment
#change key of dict